@mixin normal($color)
{
background-image: radial-gradient(hsl($color, 50%, 50%), hsl($color, 50%, 50%));	
}
@mixin bright($color)
{
background-image: radial-gradient(hsl($color, 100%, 70%), hsl($color, 55%, 60%));
}

//okay, so the radial gradient trick works, but now the times are all screwy. WTF.  Or wait, no, what's happening is they don't revert back from 'background-image'
$red: 0;
$yellow: 50;
$green: 100;
$awning: 4px solid black;
$time: 20s;

#lightBox
{
	background-image: radial-gradient(yellow, yellow);
	display: inline-block;
}

#red
	{
		@include normal($red);
		animation-name: redLight;
		animation-duration: $time;
		border-top: $awning;
	}
	#yellow
	{
		@include normal($yellow);
		animation-name: yellowLight;
		animation-duration: $time;
		border-top: $awning;
	}
	#green
	{
		@include normal($green);
		animation-name: greenLight;
		animation-duration: $time;
		border-top: $awning;

	}

	#green, #yellow, #red
	{
		width: 50px;
		height: 50px;
		border-radius: 25px;
		margin: 10px;
		margin-top: 20px;
	}

@keyframes redLight {
  20%  {@include normal($red)}
  22%  {@include bright($red)}
  54% {@include bright($red)}
  56% {@include normal($red)}
}

@keyframes yellowLight {
	0% {@include normal($yellow)}
	2% {@include bright($yellow)}
	19% {@include bright($yellow)}
	21% {@include normal($yellow)}
}

@keyframes greenLight {
	54% {@include normal($green)}
	56% {@include bright($green)}
	98% {@include bright($green)}
	100% {@include normal($green)}
}